* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  color: #ffffff;
}

#root {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.canvas {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(50%) translateY(50%);

  &-grid {
    @extend .canvas;
  }

  &-game {
    @extend .canvas;
  }
}
