.content {
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 880px;

  &:last-child {
    margin-bottom: 0;
  }
}

.todo-form {
  @extend .content;

  padding: 1rem 1.5rem;
  background-color: #fff;
  border-radius: 1rem;
  color: #2b2b2b;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  label {
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  input {
    padding: 0.5rem 0.75rem;
    width: 100%;
    font: inherit;
  }
}